div
{
    font-size: medium; 
    font-family: georgia; 
    margin: 0 2% 0 2%;
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
a:link, a:visited {
    color: #86A5DD;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
color: #86A5FF;
background-color: transparent;
text-decoration: underline;
text-shadow: 3px 3px 8px #86A5DD;
}
ul
{
    list-style-type: square;
}
li
{
    margin-top: 10px;
}
body
{
    background-color: #252627; 
    color: white;
}
#heading
{
    background-color: #343537; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    font-size: 1.5em;
    font-weight: bold;
}
#CODMW {
    width: 128%;
    margin-left: -14%;
    margin-bottom: 20px;
}